
/.idea
/__pycache__
/out_sfx
/out_oxt/in_audio
/in_xlsx
*.pyc
/sense-voice/ckpt/
/sense_voice/ckpt
/in_xlsx

.virtualme/
/.repomap
/in_audio
/in_xlsx
/sense_voice/.repomap
/in_xlsx
/cosyvoice/pretrained_models
